[Desktop Entry]
Encoding=UTF-8
Name=Refract
Comment=Guided AVIF/JPEG XL/WebP image conversion.
Exec=refract
Terminal=false
Type=Application
Icon=refract.png
Categories=GNOME;Application;Utility;
X-AppStream-Ignore=true
Name[en_US]=Refract
