[package]
name = "refract_core"
version = "0.8.6"
license = "WTFPL"
authors = ["Josh Stoik <josh@blobfolio.com>"]
edition = "2021"
rust-version = "1.61"
description = "The library for Refract."
repository = "https://github.com/Blobfolio/refract"
readme = "README.md"
publish = false

[dependencies]
dactyl = "0.4.*"
jpeg-decoder = "=0.2.6"
num_cpus = "=1.13.1"
rgb = "=0.8.33"
spng = "=0.1.0"

[dependencies.argyle]
version = "0.6.*"
optional = true

[dependencies.jpegxl-sys]
version = "=0.6.1"
default-features = false
features = [ "threads" ]

[dependencies.libavif-sys]
version = "=0.13.1"
default-features = false
features = [ "codec-aom" ]

[dependencies.libwebp-sys2]
version = "=0.1.4"
features = [ "1_1", "static" ]

[features]
default = []

# This feature adds a few generic RefractError types for the binary. It is not
# something external crates implementing this library would really need to use.
bin = [ "argyle" ]

# This feature enables decoding support for the next-gen image formats, i.e.
# WebP, AVIF, and JPEG XL.
decode_ng = []
