[package]
name = "refract_core"
version = "0.7.3"
license = "WTFPL"
authors = ["Josh Stoik <josh@blobfolio.com>"]
edition = "2021"
rust-version = "1.56"
description = "The library for Refract."
repository = "https://github.com/Blobfolio/refract"
readme = "README.md"
publish = false

[dependencies]
ahash = "0.7.*"
dactyl = "0.2.*"
jpeg-decoder = "0.1.*"
num_cpus = "1.13.*"
rgb = "0.8.*, >=0.8.20"
spng = "0.1.0"

[dependencies.jpegxl-sys]
version = "0.6.0"
default-features = false
features = [ "threads" ]

[dependencies.libavif-sys]
version = "0.12.0"
default-features = false
features = [ "codec-aom" ]

[dependencies.libwebp-sys2]
version = "0.1.2"
features = [ "1_1", "static" ]

[features]
default = []

# This feature adds a few generic RefractError types for the binary. It is not
# something external crates implementing this library would really need to use.
bin = []

# This feature enables decoding support for the next-gen image formats, i.e.
# WebP, AVIF, and JPEG XL.
decode_ng = []
