[package]
name = "refract_core"
version = "0.6.3"
license = "WTFPL"
authors = ["Josh Stoik <josh@blobfolio.com>"]
edition = "2018"
description = "The library for Refract."
repository = "https://github.com/Blobfolio/refract"
readme = "README.md"
publish = false

[dependencies]
ahash = "0.7.*"
jpeg-decoder = "0.1.*"
num_cpus = "1.13.*"
num-integer = "0.1.*"
rgb = "0.8.*"
spng = "0.1.0"

[dependencies.jpegxl-sys]
version = "0.3.7"
default-features = false
features = [ "threads" ]

[dependencies.libavif-sys]
version = "0.10.0"
default-features = false
features = [ "codec-rav1e" ]

[dependencies.libwebp-sys2]
version = "0.1.2"
features = [ "1_1", "static" ]

[features]
default = []

# This feature adds a few generic RefractError types for the binary. It is not
# something external crates implementing this library would really need to use.
bin = []

# This feature enables decoding support for the next-gen image formats, i.e.
# WebP, AVIF, and JPEG XL.
decode_ng = [ "libavif-sys/codec-dav1d" ]
