[package]
name = "refract_core"
version = "0.9.1"
license = "WTFPL"
authors = ["Josh Stoik <josh@blobfolio.com>"]
edition = "2021"
rust-version = "1.64"
description = "The library for Refract."
repository = "https://github.com/Blobfolio/refract"
readme = "README.md"
publish = false

[dependencies]
dactyl = "0.4.*"
jpeg-decoder = "=0.3.0"
link-cplusplus = "1.0.*"
num_cpus = "=1.15.0"
rgb = "=0.8.34"
spng = "=0.1.0"

[dependencies.argyle]
version = "0.6.*"
optional = true

[dependencies.jpegxl-sys]
version = "=0.8.0"
default-features = false
features = [ "threads", "vendored" ]

[dependencies.libavif-sys]
version = "=0.14.0"
git = "https://github.com/njaard/libavif-rs/"
rev = "60e3845c"
default-features = false
features = [ "codec-aom" ]

[dependencies.libwebp-sys2]
version = "=0.1.4"
features = [ "1_1", "static" ]

[features]
default = []

# This feature adds a few generic RefractError types for the binary. It is not
# something external crates implementing this library would really need to use.
bin = [ "argyle" ]

# This feature enables decoding support for the next-gen image formats, i.e.
# WebP, AVIF, and JPEG XL.
decode_ng = []
