[package]
name = "refract_core"
version = "0.4.3"
license = "WTFPL"
authors = ["Josh Stoik <josh@blobfolio.com>"]
edition = "2018"
description = "The library for Refract."
repository = "https://github.com/Blobfolio/refract"
readme = "README.md"
publish = false

[dependencies]
imgref = "1.9.*"
jpeg-decoder = "0.1.*"
lodepng = "3.4.*"
loop9 = "0.1.*"
num_cpus = "1.13.*"
num-integer = "0.1.*"
rgb = "0.8.*"

[dependencies.argyle]
version = "0.4.*"
optional = true

[dependencies.jpegxl-sys]
version = "0.3.7"
default-features = false
features = [ "threads" ]

[dependencies.libavif-sys]
version = "0.10.0"
default-features = false
features = [ "codec-rav1e" ]

[dependencies.libwebp-sys2]
version = "0.1.2"
features = [ "1_1", "static" ]

[features]
default = []
menu = [ "argyle" ] # Passthrough menu errors.
