[package]
name = "refract_core"
version = "0.1.0"
license = "WTFPL"
authors = ["Josh Stoik <josh@blobfolio.com>"]
edition = "2018"
description = "Library for Refract."
repository = "https://github.com/Blobfolio/refract"
publish = false

[dependencies]
dactyl = "0.1.*"
imghdr = "0.7.*"
imgref = "1.9.*"
jpeg-decoder = "0.1.*"
lodepng = "3.4.*"
num-integer = "0.1.*"
rgb = "0.8.*"

[dependencies.fyi_msg]
git = "https://github.com/Blobfolio/fyi.git"
tag = "v0.7.0"

[dependencies.libwebp-sys2]
version = "0.1.*"
features = [ "1_1", "static" ]

[dependencies.ravif]
version = "0.7.*"
default-features = false
