button {
	color: white;
	background: none;
	background-color: #2ecc71;
	font-weight: bold;
	transition: all .3s ease 0s;
}

button:hover {
	background-color: #00abc0;
}

button:disabled {
	background-color: #ccc;
}
